<hr>
<div class="profile float-{% if include.profile.align == 'left' %}left{% else %}right{% endif %}">
  {% if include.profile.image %}
    {% assign profile_image_path = include.profile.image | prepend: 'assets/img/' %}
    {% if include.profile.image_circular %}
      {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
    {% else %}
      {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
    {% endif %}
    {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
    {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=include.profile.image %}
  {% endif %}
  {% if include.profile.more_info %}
    <div class="more-info">{{ include.profile.more_info }}</div>
  {% endif %}
</div>

<div class="clearfix">
  <h4>
    {{ include.profile.name }}
  </h4>
  {% if include.profile.content %}
    {% capture profile_content %}{% include_relative {{ include.profile.content }} %}{% endcapture %}
    {{ profile_content | markdownify }}
  {% else %}
    {{ content }}
  {% endif %}
  {% if include.profile.email %}
    <p>email: {{ include.profile.email }}</p>
  {% endif %}
</div>
